# This tells Django if we are in "learning mode" (True) or "public mode" (False).
DEBUG=True

# This is a long string of random characters used for securing passwords and sessions.
SECRET_KEY=django-insecure-your-secret-key-here

# A list of addresses that are allowed to run this website, separated by commas.
ALLOWED_HOSTS=localhost,127.0.0.1

# The address of our Next.js frontend app so Django knows who is allowed to talk to it.
CORS_ALLOWED_ORIGINS=http://localhost:3000

# The URL address to connect to our SQLite database.
DATABASE_URL=sqlite:///db.sqlite3

# The address of our frontend site, useful for creating links in emails (e.g. Magic Links).
FRONTEND_URL=http://localhost:3000

# ==============================================================================
# SOCIAL AUTHENTICATION KEYS
# ==============================================================================
# Google OAuth
# The Client ID key generated in your Google Cloud Console OAuth Credentials page
GOOGLE_CLIENT_ID=your-google-client-id-goes-here
# The Client Secret key generated in your Google Cloud Console OAuth Credentials page
GOOGLE_CLIENT_SECRET=your-google-client-secret-goes-here

# GitHub OAuth
# The Client ID key generated under your GitHub Developer Settings OAuth Application
GITHUB_CLIENT_ID=your-github-client-id-goes-here
# The Client Secret key generated under your GitHub Developer Settings OAuth Application
GITHUB_CLIENT_SECRET=your-github-client-secret-goes-here

# Email Settings (Resend)
# The API key generated under your Resend account dashboard settings
RESEND_API_KEY=your-resend-api-key-goes-here
DEFAULT_FROM_EMAIL=your-default-from-email-address-goes-here


CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-cloud-api-key
CLOUDINARY_API_SECRET=your-cloud-api-secret

ACCOUNT_DELETION_HARD_DELETE=False
